<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="post">
        <input type="text" name="first_name" placeholder="Имя" required><br>
        <input type="text" name="last_name" placeholder="Фамилия" required><br>
        <select name="status" placeholder="Статус">
            <option value="Ученик">Ученик</option>
            <option value="Учитель">Учитель</option>
            <option value="Слушатель">Слушатель</option>
        </select><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Пароль" required><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>